---
import { Icon } from 'astro-icon/components'
import type { CollectionEntry } from 'astro:content'
import { mergeStyle } from 'molcss'
import FormattedDate from '#src/components/FormattedDate.astro'
import Link from '#src/components/Link.astro'
import Tags from '#src/components/Tags.astro'
import * as styles from './PostCard.styles'

interface Props {
  post: CollectionEntry<'posts'>['data']
  link?: string
}

const { post, link } = Astro.props
---

<div class={mergeStyle(styles.postCard, link && styles.postCardLink)}>
  <div class={styles.dateContainer}>
    <Icon name="ic:baseline-calendar-month" class={styles.postDateIcon} />
    <FormattedDate date={post.date} />
    {
      post.update && (
        <>
          <Icon name="ic:baseline-update" class={styles.updateDateIcon} />
          <FormattedDate date={post.update} />
        </>
      )
    }
  </div>
  {
    link ? (
      <Link href={link} class={`title ${styles.title}`}>
        {post.title}
      </Link>
    ) : (
      <h1 class={styles.title}>{post.title}</h1>
    )
  }
  <Tags tags={post.tags} />
  <slot />
</div>
