---
import { css } from 'molcss'
import { SITE_NAME } from '../../../constants'

const { pathname } = Astro.url

const Title = pathname === '/' ? 'h1' : 'div'

const headerStyle = css`
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(226 232 240 / 0.3);
  backdrop-filter: blur(8px);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
`

const headerContentStyle = css`
  display: flex;
  padding: 1rem 1.5rem;
  margin: 0 auto;
  align-items: center;
  max-width: 64rem;
`

const siteTitleStyle = css`
  margin-right: auto;
`

const titleStyle = css`
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
`

const titleLinkStyle = css`
  &:hover {
    text-decoration-line: underline;
  }
`

const siteDescriptionStyle = css`
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  color: rgb(55 65 81);
`

const navItemStyle = css`
  padding-top: 0.25rem /* 4px */;
  padding-bottom: 0.25rem /* 4px */;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  margin-left: 0.5rem /* 8px */;
  border-radius: 0.25rem /* 4px */;
  background-color: rgb(226 232 240);
  box-shadow: 2px 2px 4px #bebebe,
    -2px -2px 4px #fff,
    inset 0 0 0 #bebebe,
    inset 0 0 0 #fff;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  &:hover {
    box-shadow: 0 0 0 #bebebe,
      0 0 0 #fff,
      inset 2px 2px 4px #bebebe,
      inset -2px -2px 4px #fff;
  }
`
---

<header class={`js-header ${headerStyle}`}>
  <div class={headerContentStyle}>
    <div class={siteTitleStyle}>
      <Title class={titleStyle}>
        <a href="/" class={titleLinkStyle}>{SITE_NAME}</a>
      </Title>
      <p class={siteDescriptionStyle}>技術ブログ改め、Qiitaの下書き</p>
    </div>
    <a
      href="https://qiita.com/iMasanari"
      target="_blank"
      rel="noopener"
      class={navItemStyle}
    >
      Qiita
    </a>
    <a
      href="https://github.com/iMasanari"
      target="_blank"
      rel="noopener"
      class={navItemStyle}
    >
      GitHub
    </a>
  </div>
</header>

<script>
  import { css } from 'molcss'

  const headerStyle = css`
    transform: translateY(-100%);
  `

  const header = document.querySelector('.js-header')!
  const headerHeight = 64 // header.getBoundingClientRect().height

  let prevScrollPos = 0
  let prevVisible = true

  window.addEventListener('scroll', () => {
    const currentScrollPos = window.scrollY

    const visible =
      currentScrollPos < headerHeight || currentScrollPos <= prevScrollPos

    if (visible !== prevVisible) {
      if (visible) {
        header.classList.remove(headerStyle)
      } else {
        header.classList.add(headerStyle)
      }

      prevVisible = visible
    }

    prevScrollPos = currentScrollPos
  })
</script>
