---
import { SITE_NAME } from '#src/constants'
import * as styles from './Header.styles'

const { pathname } = Astro.url

const Title = pathname === '/' ? 'h1' : 'div'
---

<header class={`js-header ${styles.header}`}>
  <div class={styles.headerContent}>
    <div class={styles.siteTitle}>
      <Title class={styles.title}>
        <a href="/" class={styles.titleLink}>{SITE_NAME}</a>
      </Title>
      <p class={styles.siteDescription}>技術ブログ改め、Qiitaの下書き</p>
    </div>
    <a
      href="https://qiita.com/iMasanari"
      target="_blank"
      rel="noopener"
      class={styles.navItem}
    >
      Qiita
    </a>
    <a
      href="https://zenn.dev/imasanari?tab=scraps"
      target="_blank"
      rel="noopener"
      class={styles.navItem}
    >
      Zenn
    </a>
    <a
      href="https://github.com/iMasanari"
      target="_blank"
      rel="noopener"
      class={styles.navItem}
    >
      GitHub
    </a>
  </div>
</header>

<script>
  import * as styles from './Header.styles'

  const header = document.querySelector('.js-header')!
  const headerHeight = 64 // header.getBoundingClientRect().height

  let prevScrollPos = 0
  let prevVisible = true

  window.addEventListener('scroll', () => {
    const currentScrollPos = window.scrollY

    const visible =
      currentScrollPos < headerHeight || currentScrollPos <= prevScrollPos

    if (visible !== prevVisible) {
      if (visible) {
        header.classList.remove(styles.headerHidden)
      } else {
        header.classList.add(styles.headerHidden)
      }

      prevVisible = visible
    }

    prevScrollPos = currentScrollPos
  })
</script>
