---
import { tw } from 'tw-tag'
import { SITE_NAME } from '../../../constants'

const { pathname } = Astro.url

const Title = pathname === '/' ? 'h1' : 'div'

const headerStyle = tw(`
  sticky
  top-0
  w-full
  bg-slate-200/30
  backdrop-blur
  transition
`)

const headerContentStyle = tw(`
  flex
  items-center
  max-w-5xl
  py-4
  px-6
  mx-auto
`)

const siteTitleStyle = tw(`
  mr-auto
`)

const titleStyle = tw(`
  text-xl
`)

const titleLinkStyle = tw(`
  hover:underline
`)

const siteDescriptionStyle = tw(`
  text-sm
  text-gray-700
`)

const navItemStyle = tw(`
  py-1
  px-4
  ml-2
  rounded
  bg-slate-200
  shadow-neumo
  transition-shadow
  hover:shadow-neumo-inset
`)
---

<header class={`js-header ${headerStyle}`}>
  <div class={headerContentStyle}>
    <div class={siteTitleStyle}>
      <Title class={titleStyle}>
        <a href="/" class={titleLinkStyle}>{SITE_NAME}</a>
      </Title>
      <p class={siteDescriptionStyle}>技術ブログ改め、Qiitaの下書き</p>
    </div>
    <a
      href="https://qiita.com/iMasanari"
      target="_blank"
      rel="noopener"
      class={navItemStyle}
    >
      Qiita
    </a>
    <a
      href="https://github.com/iMasanari"
      target="_blank"
      rel="noopener"
      class={navItemStyle}
    >
      GitHub
    </a>
  </div>
</header>

<script>
  import { tw } from 'tw-tag'

  const headerStyle = tw(`
    -translate-y-full
  `)

  const header = document.querySelector('.js-header')!
  const headerHeight = 64 // header.getBoundingClientRect().height

  let prevScrollPos = 0
  let prevVisible = true

  window.addEventListener('scroll', () => {
    const currentScrollPos = window.scrollY

    const visible =
      currentScrollPos < headerHeight || currentScrollPos <= prevScrollPos

    if (visible !== prevVisible) {
      if (visible) {
        header.classList.remove(headerStyle)
      } else {
        header.classList.add(headerStyle)
      }

      prevVisible = visible
    }

    prevScrollPos = currentScrollPos
  })
</script>
