---
import { Icon } from 'astro-icon'
import { css } from 'molcss'
import CopyButton from '../../../components/CopyButton.astro'

interface Props {
  lang: string
  title: string
  code: string
}

const { lang, title, code, ...props } = Astro.props

const langMap = new Map([
  ['html', 'HTML'],
  ['ts', 'TypeScript'],
  ['tsx', 'TypeScript with JSX'],
  ['js', 'JavaScript'],
  ['jsx', 'JavaScript with JSX'],
])

const codeWrapperStyle = css`
  overflow: hidden;
  margin: 2rem 0 /* 32px 0 */;
  border-radius: 0.25rem /* 4px */;
  box-shadow: 0 0 0 #bebebe,
    0 0 0 #fff,
    inset 2px 2px 4px #bebebe,
    inset -2px -2px 4px #fff;
`

const headerStyle = css`
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem /* 8px 16px */;
`

const fileNameStyle = css`
  display: flex;
  align-items: center;
`

const fileIconStyle = css`
  width: 1rem /* 16px */;
  height: 1rem /* 16px */;
  margin-right: 0.25rem /* 4px */;
`
---

<div class={codeWrapperStyle} {...props}>
  <div class={headerStyle}>
    <span class={fileNameStyle}>
      <Icon name="ic:baseline-insert-drive-file" class={fileIconStyle} />
      {
        lang === 'diff' && title
          ? `diff: ${title}`
          : title || langMap.get(lang) || lang
      }
    </span>
    <CopyButton copyText={code} />
  </div>
  <slot />
</div>
