---
import { Icon } from 'astro-icon'
import CopyButton from '#src/components/CopyButton.astro'
import * as styles from './CodeWrapper.styles'

interface Props {
  lang: string
  title: string
  code: string
}

const { lang, title, code, ...props } = Astro.props

const langMap = new Map([
  ['html', 'HTML'],
  ['ts', 'TypeScript'],
  ['tsx', 'TypeScript with JSX'],
  ['js', 'JavaScript'],
  ['jsx', 'JavaScript with JSX'],
])
---

<div class={styles.codeWrapper} {...props}>
  <div class={styles.header}>
    <span class={styles.fileName}>
      <Icon name="ic:baseline-insert-drive-file" class={styles.fileIcon} />
      {
        lang === 'diff' && title
          ? `diff: ${title}`
          : title || langMap.get(lang) || lang
      }
    </span>
    <CopyButton copyText={code} />
  </div>
  <slot />
</div>
