---
import '../../styles/preflight.css'
import 'virtual:molcss/style.css'
import { css } from 'molcss'
import { GOOGLE_ANALYTICS_ID } from '../../constants'
import BaseHead from './components/BaseHead.astro'
import Footer from './components/Footer.astro'
import Header from './components/Header.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props

const script = `
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '${GOOGLE_ANALYTICS_ID}');
`

const bodyStyle = css`
  background-color: rgb(226 232 240);
  color: rgb(15 23 42);
`
---

<html lang="ja">
  <head>
    {
      GOOGLE_ANALYTICS_ID && (
        <>
          <script
            is:inline
            async
            src={`https://www.googletagmanager.com/gtag/js?id=${GOOGLE_ANALYTICS_ID}`}
          />
          <script is:inline set:html={script}></script>
        </>
      )
    }
    <BaseHead title={title} description={description} />
  </head>
  <body class={bodyStyle}>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
