---
import '#src/styles/preflight.css'
import 'molcss/style.css'

import { GOOGLE_ANALYTICS_ID } from '#src/constants'
import * as styles from './Layout.styles'
import BaseHead from './components/BaseHead.astro'
import Footer from './components/Footer.astro'
import Header from './components/Header.astro'

interface Props {
  title: string
  description: string
  ogpImage?: string
  noindex?: boolean
}

const { title, description, ogpImage, noindex } = Astro.props

const script = `
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '${GOOGLE_ANALYTICS_ID}');
`
---

<html lang="ja">
  <head>
    {
      GOOGLE_ANALYTICS_ID && (
        <>
          <script
            is:inline
            async
            src={`https://www.googletagmanager.com/gtag/js?id=${GOOGLE_ANALYTICS_ID}`}
          />
          <script is:inline set:html={script} />
        </>
      )
    }
    <BaseHead title={title} description={description} ogpImage={ogpImage} noindex={noindex} />
  </head>
  <body class={styles.body}>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
